.page {
  background-color: #fff;
  height: calc(100% + 10vh);
  padding: 3rem;

  display: grid;
  grid-template-rows: 10vh 1fr;
  justify-items: center;
  align-items: center;

  &__heading {
    // background-color: blue;
  }

  &__content {
    // background-color: yellow;

    // & img {
    //   max-width:20rem;
    //   height:auto;
    // }
  }
}
