.page {
  background-color: #fff;
  font-size: 1.6rem;
  color: black;
  height: calc(100% + 10vh);
  padding: 3rem;

  display: grid;
  grid-template-rows: 10vh 1fr;
  justify-items: center;
  align-items: center;
}
