.layout {
  background-color: #101d2c;
  min-height: 100vh;

  display: grid;
  grid-template-rows: 1fr 10vh;

  &__content {
    display: grid;
    grid-template-rows: 10vh 1fr;
  }

  &__children {
    display: grid;
    grid-template-rows: auto 5vh;
  }
}
